<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">APUESTAS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" href="/monedero" th:if="${role}=='[USER]'">Monedero</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/eventos/listar">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/mis_apuestas" th:if="${role}=='[USER]'">Mis apuestas</a>
          </li>
          </ul>
          <div class="d-flex">
            <a th:href="@{/logout}" class="btn btn-outline-light my-2 my-sm-0">Cerrar
              Sesión</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Header -->
    <div class="container mt-3 mx-auto">
      <div class="card ">
        <h3 class=" text-center my-2">Registrar tarjeta</h3>
        <div class="card-body ">
          <form th:action="@{/registrar_tarjeta}" method="post"
            th:object="${Cards}">
            <div class="alert alert-success" th:if="${mensage!=''}">
              <p th:text="${mensage}"></p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="cardNumber">Número de tarjeta</label>
                <input type="number" class="form-control" field="*{numero}" maxlength="16" minlength="15" name="numero"
                  placeholder="Número de tarjeta" required>
              </div>
              <div class="col-md-6">
                <label for="cardNumber">Fecha de vencimiento</label>
                <div class="row">
                  <div class="col-md-5">
                    <input type="number" class="form-control" field="*{fecha_vencimiento_mes}" min="1" max="12" name="fecha_vencimiento_mes"
                      placeholder="Mes" required>
                  </div>/
                  <div class="col-md-5">
                    <input type="number" class="form-control" field="*{fecha_vencimiento_anio}" min="22" max="30" name="fecha_vencimiento_anio"
                      placeholder="Año" required>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="cardNumber">Nombre del titular</label>
                <input type="text" class="form-control"
                  field="*{nombre_titular}" placeholder="Nombre del titular"
                  name="nombre_titular"
                  required>
              </div>
              <div class="col-md-6">
                <label for="cardNumber">Código de seguridad</label>
                <input type="text" class="form-control"
                  field="*{codigoSeguridad}" placeholder="Código de seguridad"
                  required>
              </div>
              <div class="col-md-6">
                <label for="cardNumber">Tipo de tarjeta</label>
                <select class="form-select" field="*{tipo}" required name="tipo">
                  <option value="VISA">VISA</option>
                  <option value="MASTERCARD">MASTERCARD</option>
                  <option value="AMERICAN_EXPRESS">AMERICAN EXPRESS</option>
                </select>
              </div>
            </div>
            <div class="text-center">

              <button type="submit" class="btn btn-primary mt-2">Registrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"></script>
  </html>