<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">APUESTAS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" href="/monedero" th:if="${role}=='[USER]'">Monedero</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/eventos/listar">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/mis_apuestas" th:if="${role}=='[USER]'">Mis apuestas</a>
          </li>
          </ul>
          <div class="d-flex">
            <a th:href="@{/logout}" class="btn btn-outline-light my-2 my-sm-0">Cerrar
              Sesión</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Header -->
    <div class="container mt-3">
      <div class="card ">
        <div class="card-body text-center">
          <h1 class="">Monedero</h1>
          <h6 class="" th:text="${userName}"></h6>
          <div class=""> <strong>Valor:</strong><p th:text="${monedero}?'$
              '+${monedero.saldo}:'$0'"></p> </div>
        </div>
      </div>
      <div class=" row my-2">
        <div class="card col-md-8 ">
          <h3 class=" text-center my-2">Escoge medio de pago</h3>
          <div class="card-body text-center">

            <div class=" card card-body" th:each="card: ${cards}">
              <div class="row my-auto">
                <div class="col-md-2 my-auto">

                  <input type="radio" id="visa" name="tarjeta" value="visa">
                </div>
                <div class="col-md-5 row">

                  <p class="lead col-md-8" th:text="${'Tarjeta de '+card.tipo} "> </p>
                  <strong th:text="${card.numero}" class="col-md-4"></strong>
                </div>
              </div>
            </div>
            <p class="text-center lead"> Agregar al monedero</p>
            <div class="mx-auto mb-3">
              <a href="#" class="btn btn-outline-primary ">PSE</a>
              <a href="/pagos_tajeta" class="btn btn-outline-success ">Agregar
                tarjeta</a>
            </div>
          </div>
        </div>
        <div class="card col-md-3 mx-auto">
          <div class="card-body text-center">
            <form th:action="@{/pago}" method="post" th:object="${purse}">
              <input type="number" class="form-control" placeholder="Monto a
                recargar" name="saldo" field="*{saldo}">
              <button class="btn btn-outline-success mt-3">Recargar Monedero</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"></script>
  </html>